<header class="header">
  <div class="header__logo-box">
      <img  class="header__logo" alt="BCN Logo" src="../assets/images/logo-bcn-light.png">
  </div>  
    <div class="header__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main">Bye Cologne, hello Barcelona! </span>
        <span class="heading-primary--sub">// Win-Win Super Sale - Help me move to BCN //</span>
      </h1>
          <div>
            <a href="#" class="btn btn--white">Story</a>
          </div>
    </div>

    <button class="header__audio">
      <audio controls>
          <source src="../assets/fkjmasegotadow.mp3" type="audio/mpeg">
      </audio>
      </button>
  </header>