// COLORS

$color-primary: #1a6380;
$color-primary-light:#afd9dfef;
$color-primary-dark:#004855;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT Size
$default-font-size: 1.6rem;
$font-size-big: 10rem;

// FONTS
$header-font: 'Great Vibes';

