// COLORS

$color-primary: #1a6380;
$color-primary-light:#abd7ddef;
$color-primary-dark:#004855;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;