<app-header></app-header>

<section class="about-section">
  <div class="about-section__box">
    <span class="about-section__primary--main">The story</span> 
    <div>
      <p class="about-section__text">
        Lorem ipsum dolor sit amet consectetu. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sed tenetur ipsum vel, accusantium consectetur quod reiciendis porro quos, sapiente alias doloribus. Natus tempora dicta vitae, totam exercitationem cum aut.
      </p>
      <div>
          <a href="#" class="btn">Sign up</a>
      </div>
        <div>
            <a href="#" class="btn">Log in</a>
        </div>
    </div>
  </div>
</section>

<app-wardrobe></app-wardrobe>

<footer class="footer">
  <div class="footer__container">
    <span>Coded by</span>
    <span>
      <a href="https://github.com/lindaluisa" target="_blank">
        <i class="fa fa-github footer__container--element"></i
      ></a>
    </span>
    <span> lindaluisa with <i class="fa fa-heart"></i></span>
    <span>in</span>
    <span><img style="width: 15vh;" src="../assets/images/cgn-skyline.png" alt="Cologne"></span>
  </div>
</footer>