*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #000;
  padding: 2rem; }

.heading-primary {
  color: #fff;
  margin-bottom: 4rem; }
  .heading-primary--main {
    font-family: 'Great Vibes';
    display: block;
    font-size: 10.5rem;
    font-weight: 700;
    position: relative; }
  .heading-primary--sub {
    font-family: 'Permanent Marker';
    display: block;
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    left: 40%; }

.footer {
  padding: 2rem;
  color: #1b1b20;
  background-color: #004855;
  font-family: 'Great Vibes'; }
  .footer__container {
    text-align: center;
    font-size: 2rem; }
  .footer__container--element {
    text-decoration: none;
    color: #1b1b20; }

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom left, rgba(0, 72, 85, 0.2), rgba(0, 0, 0, 0.5)), url("./assets/images/header-background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 2rem; }
  .header__logo-box {
    position: absolute;
    top: 3.5rem;
    left: 4rem; }
  .header__logo {
    height: 12rem; }
  .header__logo:hover {
    transform: scaleX(1.2) scaleY(1.2); }
  .header__text-box {
    position: absolute;
    top: 35%;
    left: 3%;
    transform: 0, -50%;
    text-align: center; }
  .header__audio {
    position: absolute;
    top: 94%;
    left: 73%;
    border-radius: 0.5rem;
    padding: 0 0.5rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 8rem;
  background-color: #fff;
  color: #777; }

.btn:hover {
  background-color: #afd9dfef;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.15);
  transform: translateY(7px); }

.about-section {
  height: 95vh;
  background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.9), rgba(0, 72, 85, 0.8)), url("./assets/images/dom.jpg");
  background-size: cover;
  background-position: top;
  margin-bottom: 1rem;
  position: relative; }
  .about-section__box {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 80vh; }
  .about-section__primary--main {
    color: #fff;
    font-family: "Great Vibes";
    font-size: 10rem;
    font-weight: 700;
    display: block;
    margin-bottom: 5rem; }
  .about-section__text {
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
    font-family: 'Lato';
    text-align: center;
    display: block; }
